/challenges/odd one out/googlenewsvectors/GoogleNews-vectors-negative300.bin
/challenges/odd one out/googlenewsvectorsnegative300.zip
/challenges/odd one out/glove6b50dtxt.zip
/challenges/odd one out/glove6b50dtxt/glove.6B.50d.txt
/image captioning/
/music generation/